apiVersion: v1
kind: Service
metadata:
  name: "hue-db"
  namespace: "{{ meta.namespace }}"
  labels:
    app: hue
  annotations:
    template.openshift.io/expose-uri: 'mysql://{.spec.clusterIP}:{.spec.ports[?(.name=="mysql")].port}'
spec:
  ports:
  - name: mysql
    protocol: TCP
    port: 3306
    targetPort: 3306
  selector:
    name: "hue-db"
  type: ClusterIP
  sessionAffinity: None
status:
  loadBalancer: {}