apiVersion: v1
kind: ConfigMap
metadata:
  name: hue-hive-site-xml
  namespace: "{{ meta.namespace }}"
  labels:
    app: hue
data:
  hive-site.xml: |-
    <?xml version="1.0"?>
    <?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
    <configuration>
      <property>
        <name>hive.server2.transport.mode</name>
        <value>binary</value>
        <description>Server transport mode. binary or http.</description>
      </property>

      <property>
        <name>fs.s3a.awsAccessKeyId</name>
        <value>{{ aws_access_key_id }}</value>
      </property>

      <property>
        <name>fs.s3a.awsSecretAccessKey</name>
        <value>{{ aws_secret_access_key }}</value>
      </property>

      <property>
        <name>fs.s3a.endpoint</name>
        <value>{{ s3_endpoint }}</value>
      </property>
    </configuration>